#panelPrincipal{
	
	-fx-font-size:13px;
	-fx-font-family: times new roman;
	-fx-background-image: url(../../../images/jj.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-height: 450px;
}

#panel2{
	-fx-background-color:#00000025;
	-fx-background-radius:15;
	
}
.button{
	-fx-background-color:#fff;
	-fx-cursor:hand;
	-fx-border-radius: 100px;

}
.button:hover{
	-fx-background-color:#888c90;
} 
#txtEmail, #txtCell, #txtLastName, #txtDocument, #txtPassword, #txtName, #dateBirthy, #ComboUserType, #ComboKeyword, #txtCountry{
	-fx-background-color:transparent;
	-fx-border-color:#fff;
	-fx-border-width:0px 0px 3px 0px;
	-fx-padding:3px 3px 3px 25px;
	-fx-text-inner-color:fff;
	-fx-prompt-text-fill:#fff;
	-fx-font-family:times new roman;
}