#paneFondo{
	-fx-font-size:13px;
	-fx-font-family:times new roman;
	-fx-background-image: url(../../../images/fondoCatalogue.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-height: 450px;
}
.button{
	-fx-background-color:#fff;
	-fx-cursor:hand;
}
.button:hover{
	-fx-background-color:#888c90;
}