#panelFondo{
	
	-fx-font-size:13px;
	-fx-font-family:times new roman;
	-fx-background-image: url(../../../images/fondoReport.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-height: 450px;
}
#comoboRecoverPassword{
	-fx-background-color:transparent;
	-fx-border-color:#fff;
	-fx-border-width:0px 0px 3px 0px;
	-fx-padding:3px 3px 3px 25px;
	-fx-text-inner-color:fff;
	-fx-prompt-text-fill:#fff;
}
#lblRecoverPassword{
	-fx-text-fill:fff;
}
.button{
	-fx-background-color:#fff;
	-fx-cursor:hand;
}
.button:hover{
	-fx-background-color:#888c90;
}